/* タイムライン縦棒 */
.timeline {
  position: relative;
  padding-left: 1.25rem;
  margin-left: 0.25rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e5e5e5;
  }
}

@media (min-width: 768px) {
  .timeline {
    padding-left: 3rem;
  }
}

/* 各案件の丸点 */
.timeline h4 {
  position: relative;
  text-decoration: underline;

  &:not(:first-of-type) {
    margin-top: 2.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: calc(-1.44rem);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #404040;
  }
}

@media (min-width: 768px) {
  .timeline h4::before {
    left: calc(-3.2rem);
  }
}
