@import "tailwindcss";

@layer base {
  h1 {
    @apply text-[2.5rem] font-bold;
  }

  h2 {
    @apply text-[2rem] font-bold;
  }

  h3 {
    @apply text-[1.75rem] font-bold;
  }

  h4 {
    @apply text-[1.5rem] font-bold;
  }

  h5 {
    @apply text-[1.25rem] font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  h1:not(:has(+ p > em)),
  h2:not(:has(+ p > em)),
  h3:not(:has(+ p > em)),
  h4:not(:has(+ p > em)) {
    @apply mb-4;
  }

  h5:not(:has(+ p > em)),
  h6:not(:has(+ p > em)) {
    @apply my-1;
  }

  p {
    @apply mb-4;
  }

  em {
    @apply text-neutral-500 text-sm;
  }

  a:has(img) {
    @apply inline-flex;
  }

  a img {
    @apply block;
  }

  img:not(a img) {
    @apply inline-block;
  }

  ul {
    @apply list-disc pl-6 flex flex-col gap-1;
  }

  ol {
    @apply list-decimal pl-6 flex flex-col gap-1;
  }

  table {
    @apply w-full border border-[#dee2e6] text-[#212529];
  }

  thead th {
    @apply align-bottom border-b-2 border-[#dee2e6];
  }

  td,
  th {
    @apply border border-[#dee2e6] py-1 px-3 align-top;
  }
}
